

/* header */


body {
    background-color:#ffffff;
    color: #757575;
    font-family: roboto;
}

ul{
    list-style: none;
}

.logo:hover,
.logo:focus{
    color: #762525;
}
.type:hover,
.type:focus {
    color: #762525;
}


.logo {
    color: #000000;
    font-family: raleway;
    text-decoration: none;
}
.type {
    color: #2196F3;
}


 /* site-nav list */

 .site-nav.link {
    color: #000000;
    text-decoration: none;
 }
 .site-nav.link :hover,
 .site-nav.link :focus {
    color: #2196F3;
    
 }

/* auth-nav list */

.auth-nav link {
    color: #000000;
    text-decoration: none;
}
.auth-nav :hover,
.auth-nav :focus {
    color: #2196F3;
}
/* section-main */


.section-main{
    background-color: #2F303A;
}
.white{
    color: #ffffff;
}

.button{
    background-color: #2196F3;
    color: #ffffff;
    
}
/* section-home */
.title{
color:#212121;
}

.text{
color: #757575;
}
/* section-info */


.bold{
    color: #212121;
}

/* footer */
.footer{
    background-color: #212121;
}
.footer .logo{
    color:#ffffff ;
}
.footer .type{
color: #2196F3;
}
.footer address{
   color: rgba(255, 255, 255, 0.6);
}
